<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">


  </head>

  <body class="flex-column height">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      {{#unless loggedIn}}
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      {{/unless}}
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>

  <header class="hero">
    <h1 class="app-title"><a href="/">The Tech Blog</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>


</body>

</html>
{{#if loggedIn}}
 <script src="/javascript/logout.js"></script>
{{/if}}
 <script src="/javascript/logout.js"></script>