:root {
    --primary-color: #6f1e1e;
    --primary-hover: #343db5;
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #40104e;
    --border-radius: 0.3rem;
  
}

* {
    box-sizing: border-box;
 
  }

body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Newsreader", sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;
    font-family: "Newsreader", sans-serif;
}


.homepage {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color .1s;
    margin: 20px;
}

a:hover {
    color: var(--primary-hover);
}

.blog-title {
    color: var(--primary-hover);
    font-size: 25px;
    margin: 25px; 
    padding: 10px; 
}

.create-btn {
    color:white;
    flex-wrap: wrap;
    justify-content: center;
}

.create-btn:hover {
    color:white;
}

button {
    background-color: var(--primary-color);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Newsreader", sans-serif;
}

.your-posts{
    margin: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.section{
    margin: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 25px;
}

button:hover{
    background-color: var(--primary-hover);
}

.post-list {
    margin: 0;
    padding: 0;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid var(--primary-hover);
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form > div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-top: 5%;
    margin-top: auto;
}



header h1 {
    font-size: 1em;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: var(--primary-hover);
}

.delete-post-btn {
    background-color: #d41414;
}
  
  .delete-post-btn:hover {
    background-color: #ff643d;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}

  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }
  
  h2 a:visited {
    color: var(--tertiary);
  }
  
  h2 a {
    color: var(--primary);
  }
  
  header {
    margin-top: 50px;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  input {
      margin: 5px;
      padding: 10px;
  }
  
  
  .li-inline {
    display: inline;
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    background-color: #40104e;
  }
  
  .nav-item {
    margin: 0 40px;
  }
  
  .nav-item a {
    color: var(--primary);
  }
  
  .hero {
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
  
  .app-title a {
    color: var(--dark);
  }
  
  .height{
    min-height: 100vh;
  }
  
  /* FONT UTILS */
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .col-auto {
    flex-grow: 1;
  }
  
  